<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyApD-gXqGo1-xYdnKz-dXRC-vq8D7SoaO8</string>
	<key>GCM_SENDER_ID</key>
	<string>771612701805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.backendapp</string>
	<key>PROJECT_ID</key>
	<string>sssbiz</string>
	<key>STORAGE_BUCKET</key>
	<string>sssbiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771612701805:ios:3f64aa1928e830aa2fbb64</string>
</dict>
</plist>